body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0b1c2c;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding: 20px;
}

.logo {
  width: 120px;
  margin-top: 20px;
}

.tagline {
  font-size: 1.2em;
  color: #00bfff;
}

section {
  margin: 40px auto;
  max-width: 600px;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }

h2 {
     margin-top: 0;
     color: black;
     font-size: 1.25em;
}


h3 {
      margin-top: 0;
      color: #0077cc;
      text-align: center;
    }


a {
  color: #00bfff;
  text-decoration: none;
}

header, footer {
      text-align: center;
      padding: 0px;
      margin-top: 0px;
      color: white;
     font-size: 0.9em
    }


nav a {
  margin: 0 15px; /* Adds horizontal spacing */
  text-decoration: none;
  color: yellow;
  font-weight: bold;
}

p {
    font-size: 1.2em;
      padding: 0px;
      margin-top: 0px;
      text-align: left;
  }

.highlight {
  background-color: green;
  padding: 10px;
  border-left: 4px solid white;
  border-radius: 8px;
  display:flex;
  flex-direction: column;
  max-width: 1000px;
 }

.generic-box {
   background-color: white;
   color:black;
   padding: 0px;
   border-left: 4px solid #0077cc;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0,0,0,0.05);
   margin-bottom: 20px;
   display:flex;
   flex-direction: column;
   max-width: 1000px;
 }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 2em;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 0.75em;
      text-align: left;
      vertical-align: top;
    }
    th {
      background-color: yellow;
      color:black;
    }
li {
  text-align: left;
}





